# vim: ft=sh sw=2 ts=2 sts=2

# Various settings.
if cmd-exists nvim; then
  export EDITOR="nvim"
else
  export EDITOR="vim"
fi
export MOST_EDITOR="$EDITOR"
export MANPAGER="less -R"
export MANPATH="$HOME/man:"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
# shellcheck disable=SC2155
export GPG_TTY="$(tty)"
export SHELLCHECK_OPTS="-e SC2086 -e SC2016 -e SC2046 -e SC1090 -e SC2001 -e SC2236"
export QT_QPA_PLATFORMTHEME=qt5ct
export MAKEOPTS="-j12"
export PYTHONDONTWRITEBYTECODE=1

# Looks like GOPATH has gone the way of the do-do.
unset GOPATH

# Set config path for ripgrep.
if is-cygwin; then
    RIPGREP_CONFIG_PATH=C:/cygwin/home/andrew/.ripgreprc
else
    RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"
fi
export RIPGREP_CONFIG_PATH

# Set config for fzf.
export FZF_DEFAULT_COMMAND="rg --files"
export FZF_DEFAULT_OPTS="
    --height 40% --border
    --bind 'tab:down' --bind 'btab:up' --bind 'ctrl-s:toggle'
"

# Considered harmful by https://wiki.archlinux.org/index.php/Locale
export LC_ALL=

# Personal variables.
export LOG="$HOME/data/log"
export EMAIL="jamslam@gmail.com"
export PUBPATH="$HOME/data/pubs"
export BROWSER="google-chrome"
export MOVIES="$HOME/media/movies/sd"
export MOVIESHD="$HOME/media/movies/hd"
export TV="$HOME/media/tv"
export MUSIC="$HOME/media/music"

# Ledger vars.
export LEDGER_FILE=/m/data/home/finance/accounts.ldg
export LEDGER_PRICE_DB=/m/data/home/finance/pricedb.ldg
export FIN_CONFIG=/m/data/home/finance/config.toml

# Mac specific overrides.
if is-mac; then
  # Our TERM is typically tmux-256color. macOS doesn't seem to recognize it.
  export TERM=xterm
fi
