# Because I'm paranoid and because I want to see untracked files, I maintain
# an exhaustive gitignore list. This also makes searching my home directory
# with ripgrep convenient, since it won't descend into most directories.

# top-level hidden files/directories
/.anyconnect
/.aws
/.babel.json
/.bash_history
/.bazel
/.cache
/.cargo
/.circleci
/.cisco
/.debug
/.docker
/.fontconfig
/.fzf*
/.gist
/.gitconfig
/.git-old
/.gkrellm2
/.gmrun_history
/.gnome
/.gnupg
/.gox11
/.helm
/.hushlogin
/.ICEauthority
/.isheadless
/.islaptop
/.iswork
/.k5login
/.kube
/.lesshst
/.local
/.macromedia
/.minecraft
/.mozilla
/.msmtp.log
/.myhostname
/.node*
/.npm*
/.nv
/.nvimlog
/.old
/.parallel
/.password-store
/.pki
/.psql_history
/.pythonhist
/.python_history
/.pyx11
/.qgrep
/.rustup
/.sane
/.sudo*
/.sqlite_history
/.thumbnails
/.tig_history
/.tox
/.vault*
/.vim-cache
/.viminfo
/.wget*
/.wicd
/.wmWeatherReports
/.Xauthority
/.xbindkeysrc
/.yarnrc
/.zcompdump
/.zoom
/.zsh_history

# top-level directories
/clones
/code
/data
/Desktop
/diffeo
/Downloads
/go
/man
/nas
/rust
/tmp
/wallpaper
/work

# Files we always want to ignore
.netrwhist
