# Because I'm paranoid and because I want to see untracked files, I maintain
# an exhaustive gitignore list. This also makes searching my home directory
# with ripgrep convenient, since it won't descend into most directories.

# top-level hidden files/directories
/.ansible
/.anyconnect
/.aws
/.babel.json
/.bash_history
/.bazel
/.cache
/.cargo
/.cddb
/.circleci
/.cisco
/.debug
/.docker
/.dotnet
/.dub
/.eclipse
/.falcon.*
/.fceux
/.fontconfig
/.fzf*
/.gist
/.gitconfig
/.git-old
/.gkrellm2
/.gmrun_history
/.gnome
/.gnupg
/.gnuplot_history
/.gox11
/.gsutil
/.helm
/.honu
/.honu.sqlite3
/.hushlogin
/.ICEauthority
/.isheadless
/.islaptop
/.iswork
/.java
/.k5login
/.kube
/.lesshst
/.local
/.m2
/.macromedia
/.minecraft
/.mozilla
/.msmtp.log
/.myhostname
/.node*
/.npm*
/.nuget
/.nv
/.nvimlog
/.o4
/.old
/.p2
/.p4enviro
/.p4tickets
/.p4trust
/.packse
/.parallel
/.password-store
/.pki
/.psql_history
/.pyenv
/.pythonhist
/.python_history
/.pyx11
/.qgrep
/.raku
/.rpmdb
/.rustup
/.sane
/.sfdcEclipse-tmp
/.sfm
/.sqldeveloper
/.*.sqlite3.db
/.sqlite_history
/.ssr
/.stack
/.sudo*
/.swiftpm
/.swt
/.templateengine
/.terminfo
/.thumbnails
/.tig_history
/.tox
/.vault*
/.vcpkg
/.vim-cache
/.viminfo
/.wine
/.wget*
/.wicd
/.wmWeatherReports
/.Xauthority
/.xbindkeysrc
/.xsel.log
/.yarnrc
/.zcompdump
/.zef
/.zoom
/.zsh
/.zsh_history
/.zsh_sessions

# top-level directories
/astral
/clones
/code
/data
/Desktop
/diffeo
/Downloads
/go
/man
/nas
/rust
/sf
/tmp
/wallpaper
/work

# Files we always want to ignore
.netrwhist

# Various other junk... Sigh.
/Corda
/sdb
/.DBcreds
/.bootstrap*
/.chatter
/.conda
/.curlrc.insecure
/apps
/blt
/logs
/tools
/.xmlresolver.org
/.tls
/.p4merge
/.p4qt
/.netrc
/.install4j_jre
/.jfrog
/.gimlet-home
/.sshcreds
/.solrcli.logs
/.perforce-install
/.smartbear
/jmeter.log

# More junk and macOS shit.
/Documents
/Pictures
/Library
/Movies
/Music
/Public
/.CFUserTextEncoding

# Have no idea where this is coming from. WTF. I keep
# deleting it and something keeps putting it back. WHY.
/sym
