# Because I'm paranoid and because I want to see untracked files, I maintain
# an exhaustive gitignore list. This also makes searching my home directory
# with ripgrep convenient, since it won't descend into most directories.

# top-level hidden files/directories
/.aws
/.bash_history
/.cache
/.cargo
/.debug
/.docker
/.fontconfig
/.fzf*
/.gist
/.gitconfig
/.git-old
/.gkrellm2
/.gmrun_history
/.gnome
/.gnupg
/.gox11
/.isheadless
/.islaptop
/.iswork
/.lesshst
/.local
/.mozilla
/.msmtp.log
/.myhostname
/.nvimlog
/.old
/.parallel
/.password-store
/.pki
/.pythonhist
/.python_history
/.pyx11
/.qgrep
/.rustup
/.sane
/.thumbnails
/.tig_history
/.vim-cache
/.viminfo
/.wicd
/.wmWeatherReports
/.Xauthority
/.xbindkeysrc
/.zcompdump
/.zoom
/.zsh_history

# top-level directories
/Desktop
/Downloads
/clones
/code
/data
/go
/man
/nas
/rust
/tmp
/wallpaper
/work

# Files we always want to ignore
.netrwhist
