/.android
/1Password
/Android Open Source Project
/alacritty
/alire
/autostart
/BraveSoftware
/baloofileinformationrc
/baloofilerc
/broot
/caddy
/cef_user_data
/chromium
/coc
/Code
/Code\ -\ OSS
/composer
/configstore
/dconf
/dolphinrc
/Element
/emaildefaults
/enchant
/evolution
/filetypesrc
/fish
/freerdp
/gcloud
/gedit
/gh
/ghb
/ghostty
/gnome-initial-setup-done
/go
/goa-1.0
/gohead
/Google
/google-chrome
/google-chrome-beta
/google-chrome-unstable
/gpick
/gtk-2.0
/gtk-3.0/bookmarks
/guvcview2
/heaptrack_gui
/htop
/hub
/ibus
/JetBrains
/jgit
/k3brc
/kactivitymanagerdrc
/kdeconnect
/kdeglobals
/kde.org
/keybase
/kiorc
/knfsshare
/konsolerc
/konsolesshconfig
/kservicemenurc
/ktrashrc
/libreoffice
/menus
/microsoft-edge-dev
/mimeapps.list
/mirage
/monitors.xml*
/mozilla
/naps2
/nautilus
/nitrogen
/nushell
/okularpartrc
/okularrc
/op
/pavucontrol.ini
/Perforce
/Pinta
/pdm
/pulse
/pypoetry
/qimgv
/qt5ct
/qt6ct
/QtProject.conf
/Qtrac Ltd.
/rclone
/remmina
/Signal
/session
/snes9x
/sniffnet
/spotify
/systemd
/totem
/trashrc
/Unknown Organization
/user-dirs.*
/variety
/vivaldi
/vivaldi-snapshot
/vlc
/wingo
/yad.conf
/zoomus.conf
