/alacritty
/alire
/autostart
/baloofileinformationrc
/baloofilerc
/broot
/caddy
/cef_user_data
/coc
/configstore
/dconf
/dolphinrc
/Element
/emaildefaults
/enchant
/evolution
/filetypesrc
/fish
/freerdp
/gcloud
/gedit
/gh
/ghb
/ghostty
/gnome-initial-setup-done
/go
/goa-1.0
/gohead
/google-chrome
/gpick
/gtk-2.0
/gtk-3.0
/guvcview2
/heaptrack_gui
/htop
/hub
/ibus
/JetBrains
/jgit
/k3brc
/kactivitymanagerdrc
/kdeconnect
/kdeglobals
/kde.org
/keybase
/kiorc
/knfsshare
/konsolerc
/konsolesshconfig
/kservicemenurc
/ktrashrc
/libreoffice
/menus
/mimeapps.list
/mirage
/monitors.xml*
/nautilus
/nitrogen
/okularpartrc
/okularrc
/pavucontrol.ini
/Perforce
/Pinta
/pdm
/pulse
/pypoetry
/qimgv
/qt5ct
/qt6ct
/QtProject.conf
/Qtrac Ltd.
/rclone
/remmina
/Signal
/session
/snes9x
/sniffnet
/totem
/trashrc
/Unknown Organization
/user-dirs.*
/vlc
/wingo
/yad.conf
/zoomus.conf
