/alacritty
/alire
/autostart
/baloofileinformationrc
/baloofilerc
/broot
/caddy
/cef_user_data
/coc
/configstore
/dconf
/dolphinrc
/emaildefaults
/enchant
/evolution
/filetypesrc
/freerdp
/gcloud
/gedit
/gh
/gnome-initial-setup-done
/goa-1.0
/gohead
/google-chrome
/gpick
/gtk-2.0
/gtk-3.0
/guvcview2
/heaptrack_gui
/htop
/hub
/ibus
/JetBrains
/jgit
/k3brc
/kactivitymanagerdrc
/kdeconnect
/kdeglobals
/kde.org
/keybase
/kiorc
/knfsshare
/konsolerc
/kservicemenurc
/libreoffice
/menus
/mimeapps.list
/mirage
/monitors.xml*
/nautilus
/nitrogen
/okularpartrc
/okularrc
/Perforce
/pulse
/qimgv
/qt5ct
/QtProject.conf
/Qtrac Ltd.
/rclone
/remmina
/session
/snes9x
/totem
/trashrc
/Unknown Organization
/user-dirs.*
/vlc
/wingo
/yad.conf
/zoomus.conf
